.container {
    display: grid;
    grid-template-columns: 1fr 1fr;                                                                             
    border: #D98CAF 2px solid;
    color: rgb(108, 38, 110);
}

.cypher {
    border:  rgb(218, 11, 149) 1px solid;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

.unlock {
    border:  rgb(218, 11, 149) 1px solid;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

h2 {
    border: double rgb(216, 84, 145) 4px;
    width: 30%;
    text-align: center;
}
 
.background {
 /*background-image: url(iconos/icons8-heart-lock-100-2.png);*/
 display: grid;
 grid-template-columns: 8% 40% 10%;
 background: #FFAFBD;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /*grid-template-rows: 1fr 1fr;*/
}

h1 {
    color: rgb(243, 54, 127);

}
h2 {
    color: steelblue;
}

h4{
    color: rgb(255, 255, 255);
    padding-left: 2px;
    background-color: rgb(255, 88, 116); 
    border: none;
    box-shadow: 2px 2px 0 rgb(245, 112, 134);
    font-weight: lighter;
}

.offset {
    display: grid;
    grid-template-columns: 5% 1fr;
    grid-gap: 6px;
}


.Message {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-column-gap: 10px;
}

.cypherMessage{ 
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-column-gap: 10px;
}

.text {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.borde {
    border: dotted 1px steelblue;
    outline: none;
    margin-bottom: 10px;
}

.buttonStyle {
    text-decoration: none;
    background-color: rgb(251, 251, 253);
    border: rgb(218, 11, 149) 1px solid;
    border-radius: 10px;
    color: rgb(163, 13, 113);
    margin-left: 200px;
    margin-top: 10px;
    width: 90px;
    height: 50px;
}

.buttonStyle:hover {
    background-color: rgb(197, 202, 240);
    font-weight: bold;
    padding: 3px;
}

/*font-family: 'Lemonada', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;