body {
    margin: 0;
}

footer {
    margin-top: 3rem;
    font-family: 'Roboto Slab', serif;
    color: rgb(206, 8, 140);
}
.sharebtn {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 1rem; 
    margin-top: 15px;
}

.twitter-share-button {
    justify-self: start;
    align-self: center;
}

.fb-share-button {
    justify-self: end;
    align-self: center;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;                                                                             
    border: rgb(209, 8, 142) 2px solid;
    color: rgb(190, 73, 194);
}

.cypher {
    border:  rgb(209, 8, 142) 1px solid;
    padding-bottom: 2rem;
    padding-left: 1rem;
    font-family: 'Poppins', sans-serif;
}

.unlock {
    border:  rgb(209, 8, 142) 1px solid;
    padding-bottom: 2rem;
    padding-left: 1rem;
    font-family: 'Poppins', sans-serif;
}
 
.background {
    display: grid;
    grid-template-columns:  minmax(max-content, 8%) minmax(max-content, 73%)  minmax(max-content, 10%)  minmax(max-content, 8%);
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.icons{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}
.offset {
    display: grid;
    grid-template-columns: 1fr 15%;  
}

.Message {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 10px;
    padding-right: 15px;
}

.cypherMessage{ 
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 10px;
    padding-right: 15px;
}

.text {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.borde {
    border: solid 1px rgb(195, 17, 136);
    outline: none;
    margin: 10px;
    padding-left: 6px;
}

.head{
    color: rgb(206, 8, 140);
}

.buttonStyle {
    text-decoration: none;
    background-color: rgb(251, 251, 253);
    border: rgb(218, 11, 149) 1px solid;
    border-radius: 10px;
    color: rgb(163, 13, 113);
    margin-left: 200px;
    margin-top: 10px;
    width: 90px;
    height: 50px;
}

.buttonStyle:hover {
    background-color: rgb(235, 176, 198);
    font-weight: bold;
    padding: 3px;
}

.middleSection {
    display: grid;
    grid-template-columns: minmax(max-content, 30%) minmax(max-content, 30%) minmax(max-content, 8%) minmax(max-content, 40%);
    justify-self: center;
    padding-left: 1rem;
    margin-top: 15px;
}


.results {
    padding: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 88, 116); 
    border: none;
    box-shadow: 3px 3px 0 rgb(241, 178, 188);
    font-weight: lighter;
    text-align: justify;
    width: 350px;
}
#tittle {
    color: rgb(165, 56, 123);
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#titleImg{
    padding: 1rem;
    width: 85px;
}
#iconKey {
    padding: 1rem;
    width: 85px;
}


#subtittle {
    width: 90%;
    color: rgb(243, 54, 127);
    font-family: 'Lemonada', cursive;
    font-size: 20px;
    padding-left: 10px;
}

#text1{
    color: rgb(243, 54, 127);
    font-size: 20px;
    font-weight: bold;
}
#text2{
    color: rgb(243, 54, 127);
    font-size: 20px;
    font-weight: bold;
}

#offset1 {
    color: rgb(223, 22, 163);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

#offset2 {
    color: rgb(223, 22, 163);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

#section1 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    flex-grow: 1;
    flex-shrink: 1;
}

#section2 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    flex-grow: 1;
    flex-shrink: 1;
}

#chain {
    flex-grow: 0;
    flex-shrink: 1;
    margin: 7px;
    height: 75px;
}


#key {
    flex-grow: 0;
    flex-shrink: 1;
    margin: 7px;
    height: 75px;
    
}

/*font-family: 'Lemonada', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;